@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

html{
    height: 100%;
    background: radial-gradient(circle closest-corner at top center,#5F93A7, #324C5B);
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    background-color: #E3DCD7;
    margin-left: 20%;
    margin-right: 20%;
    color: #464343;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #464343;
}

p{
    margin-bottom: 5px;
}

input[type="text"]{
    border-radius: 3px;
    border: 1px solid #E3DCD7;
}

.back-to-main{
    position: relative;
    clear: both;
    text-align: center;
    top: 30px;
    margin-bottom: 20px;
}
.back-to-main > a{
    text-decoration: none;
    color: #d40000;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-radius: 2px;
    padding: 10px;
}

.back-to-main > a:hover{
    color: white;
    background-color: red;
    border-radius: 5px;
}